body {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

button {
  box-sizing: border-box;
  padding: 15px 25px;
  border: 2px solid #212121;
  background-color: #fff;
  outline: none;
  cursor: pointer;
  margin-right: 20px;
}